<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="regi.css">
    <script>
        $(function(){

        });
    </script>
</head>
<body>
    <div class="container">
        <div class="screen">
          <div class="screen__content">
            <form class="login">
              <div class="login__field">
                <input type="text" class="login__input" placeholder="아이디">
              </div>
              <div class="login__field">
                <input type="password" class="login__input" placeholder="비밀번호">
              </div>
              <div class="login__field">
                <input type="password" class="login__input" placeholder="비밀번호 확인">
              </div>
              <div class="login__field">
                <input type="text" class="login__input" placeholder="닉네임">
              </div>
              <div class="login__field">
                <input type="text" class="login__input" placeholder="전화번호">
              </div>
              <div class="login__field">
                <input type="text" class="login__input" placeholder="생일">
              </div>
              <div class="login__field">
                <input type="radio" id="M" class="login_radio" name="gender" value="M">
                <label for="M">남자</label>
                <input type="radio" id="W" class="login_radio" name="gender" value="W">
                <label for="W">여자</label>
            </div>
              <button class="button login__submit">
                <span class="button__text">회원가입</span>
                <i class="button__icon fas fa-chevron-right"></i>
              </button>       
            </form>
            <div class="social-login">
              <h3>소셜 로그인</h3>
              <div class="social-icons">
                <a href="#" class="social-login__icon fab fa-instagram"></a>
                <a href="#" class="social-login__icon fab fa-facebook"></a>
                <a href="#" class="social-login__icon fab fa-twitter"></a>
              </div>
            </div>
          </div>
          <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>    
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
          </div>    
        </div>
      </div>
</body>
</html>