/*all*/
*, *:after, *:before {	
	box-sizing: inherit;
}

html, body {
	font-family: 'Noto Sans KR', sans-serif !important;
	-webkit-overflow-scrolling: touch !important;
	touch-action: manipulation;	
}

html, body, div, span, h1, h2, h3, h4, h5, h6,
a, small, strike, strong, ul, li, fieldset, form,
label, legend, table, tbody,tfoot, thead, tr, th,
td, footer, header, nav {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 100%;
	font: inherit;	 
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2,
.col-3, .col-4, .col-5, .col-6, .col-7, .col-8,
.col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10,
.col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,
.col-lg-8, .col-lg-9, .col-lg-auto,.col-md,
.col-md-1, .col-md-10, .col-md-11, .col-md-12,
.col-md-2, .col-md-3, .col-md-4, .col-md-5,
.col-md-6, .col-md-7, .col-md-8, .col-md-9,
.col-md-auto, .col-sm, .col-sm-1, .col-sm-10,
.col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7,
.col-sm-8, .col-sm-9, .col-sm-auto, .col-xl,
.col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12,
.col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5,
.col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	padding: 0px;
}

/*html*/
html {
	overflow-x: hidden;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	box-sizing: border-box;
	font-family: sans-serif;
	background: white;
	color: #666;
}

@media only screen and (min-width: 0px) {
	html{
		font-size: 14px;
	}
}

@media only screen and (min-width: 992px) {
	html {
		font-size: 14.5px;
	}
}

@media only screen and (min-width: 1200px) {
	html {
		font-size: 15px;
	}
}

html, body {
	overscroll-behavior-y: contain !important;
	overflow: hidden;
}

/*body*/
body {
	font-size: 15px;
	line-height: 1.5;	
	color: black !important;
	background-color: white !important;
	user-select: none;
}

/*route_top*/
.route_top {
	position: relative;
	height: 65px;
}

.nmap-main {
	height: 100vh !important;
	width: 100% !important;
	min-height: 100% !important;
	max-height: none !important;
}