/*Side Menu*/
.navbar {		
	justify-content: flex-start;
	margin: 0;
	padding: 0;
}

.navbar-nav {
	margin: 0 auto;
}

.nav-item {
	font-size: 1.2rem;
	margin: 8px 0;
}

@media (max-height: 860px) {	
	.nav-item {
		font-size: 1.1rem;
	}
}

@media (max-height: 760px) {
	.nav-item {
		font-size: 1.0rem;
	}
}

@media (max-height: 660px) {
	.nav-item {
		font-size: 0.9rem;
	}
}

.container {
	display: flex;
	justify-content: flex-start;	
}
/*로그인 모달 CSS*/
.close {
    margin-left: 280px;
}

.modal-content {
    margin: 90px auto;
    max-width: 340px;
    border: none;
    padding: 20px;
    text-align: center;
}

.modal-body1 input {
    margin-bottom: 10px;
    background-color: #f5f5f5;
    height: 37px;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    font-size: 14px;
}

.modal-body1 input::placeholder {
    font-size: 12px;
    font-weight: 100;
}

.modal-body1 input:focus {
    outline: none;
    border: 1px solid #aaaaaa;
    border-radius: 2px;
}

.ordinaryLogin {
    height: 37px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 0px;
    border-radius: 2px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
}

.unactivatedLoginColor {
    background-color: #acd5e8;
}

.activatedLoginColor {
    background-color: #00aeff;
}

.modal-body1 * {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.leftHr {
    float: left;
    width: 35%;
    box-sizing: border-box;    
}

.or {
    float: left;
    width: 17%;
    margin: 5px 6%;
    font-size: 14px;
    box-sizing: border-box;
    color: #999999;   
    font-weight: 700;
}

.rightHr {
    float: right;
    width: 35%;
    box-sizing: border-box;
}

.modal-logo {
    width: 160px;
    margin-bottom: 10px;
}

.kakaoLogin {
    background-color: rgba(255, 255, 255, 0.5);    
    border: 0;    
}

.googleLogin {   
    background-color: rgba(255, 255, 255, 0.5);    
    border: 0;    
}

.naverLogin {        
    background-color: rgba(255, 255, 255, 0.5);    
    border: 0;   
}

.kakaoIcon {
    width: 30px;
    border-radius: 50px;
}

.googleIcon {
    width: 30px;
    margin: 0 15px;    
}

.naverIcon {
    width: 30px;    
}

.modal-body3 p {
    font-size: 14px;
    font-weight: 300;
    color: #333333;
}

.modal-body3 p a {
    font-weight: 600;
    color: #248ae3;
}

.noneunderline {
    text-decoration: none;
}



