html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, blockquote,pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub,
sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header,
hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;	
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	font-size: 15px;
	line-height: 1.5;
	color: #000 !important;
	background-color: #fff !important;	
	user-select: none;
}

html, body {
	overscroll-behavior-y: contain !important;
	overflow: hidden;
}

body {
	margin: 0;
}

article, aside, footer, header, nav,
section {
	display: block;
}

nav {
	color: #fff;
	background-color: #cc6c73;
	width: 100%;
	height: 56px;
	line-height: 56px;
}

@media only screen and (min-width: 601px) {
	nav, nav .nWrap i, nav
	a.st, nav a.st i {
		height: 64px;
		line-height: 64px;
	}
}

.topNav {
	transition: background-color 500ms linear;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05),
		0 2px 10px 0 rgba(0, 0, 0, 0.05) !important;
	-webkit-box-shadow:	0 2px 5px 0 rgba(0, 0, 0, 0.05),
		0 2px 10px 0 rgba(0, 0, 0, 0.05) !important;
}

#routeNav {
	position: fixed;
	z-index: 9999;
	height: 80px;
	line-height: 80px;	
	letter-spacing: 2px;
	letter-spacing: 2px;
	width: 100vw;
}

.nWidth {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav .nWrap {
	position: relative;
	height: 100%;
}

a {
	background-color: transparent;
	-webkit-tap-highlight-color: transparent;
}

.ukLink, a {
	color: #1c87f0;
	text-decoration: none;
	cursor: pointer;
}

nav ul a {
	transition: background-color 0.3s;
	font-size: 1rem;
	color: inherit;
	display: block;
	padding: 0 15px;
	cursor: pointer;
}

#nltxt {
	color: black;
	font-family: 'Montserrat' !important;
	height: 80px;
}

#routeNav a {
	text-decoration: none !important;
}

b, strong {
	font-weight: bolder;
}

#routeNav b {
	font-size: 30px;
}

h7 {
	font-size: 13px;
}

@media (max-width: 1600px) and (min-width: 600px) {
	#travContent {
		font-size: 11px !important;
	}
}

ol, ul {
	list-style: none;
}

.nbc {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 0.3s;
}

nav ul li {
	transition: background-color 0.3s;	
	padding: 0;
	float: none !important;
}

.npbc {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	margin-left: 16px;
}


