<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <link rel="stylesheet" href="../../../../resources/css/nickname.css">
    <title>nickname.jsp</title>
</head>
<body>
    <div class="mainDiv">        
        <div class="subDiv">
            <div class="topDiv"></div>
            <form action="" method="post" class="nickForm midDiv">                
                <div class="formInDiv formHead"></div>
                <div class="inputFormMain">
                    <div class="inputFormDiv">
                        <input placeholder="닉네임을 입력하세요" maxlength="20" class="inputNick" value>
                        <img src="https://assets.triple.guide/images/btn-search-close@3x.png" class="formClose">
                    </div>
                    <label class="errorMSG">기호는 사용할 수 없습니다. 다른 닉네임을 입력하세요.</label>                    
                </div>
                <button type="button" class="inputBtn nickBtn" disabled>확인</button>
            </form>
        </div>
    </div>
</body>
</html>