<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"> 
    <link rel="stylesheet" href="../../../../resources/css/telephone.css">   
    <title>Document</title>
</head>
<body>
    <div class="mainDiv">
        <div class="subDiv">
            <div class="emptyDiv"></div>
            <form action="" method="post" class="divForm inputForm">
                <div class="formInDiv1">휴대폰 번호 등록하기</div>
                <div class="formInDiv2">travary에서는 고객님의 안전한 거래 및 회원정보 보호를 위해 본인 인증(최초 1회)을 하고 있습니다.</div>
                <div class="formInDiv3" style="margin-top: 40px;">
                    <div style="float: left;margin-right: 10px;" class="telCode">
                        <label class="codeLabel1">국가코드</label>
                        <div class="codeDiv">
                            <button type="button" class="codeB nationB formB">+82</button>
                            <img src="https://assets.triple.guide/images/img-trip-arrow@3x.png" alt style="height: 14px;margin: 2px 0 0 10px;">
                        </div>
                        <label class="codeLabel2"></label>
                    </div>
                    <div style="position: fixed; top: 1px; left: 1px; width: 1px;
                    height: 0px; padding: 0px; margin: -1px; overflow: hidden;
                    clip: rect(0px, 0px, 0px, 0px); white-space: nowrap;
                    border-width: 0px; display: none;"></div>
                    <div class="telCode">
                        <label class="codeLabel1">휴대폰 번호</label>
                        <div class="codeDiv">
                            <input type="tel" placeholder="-빼고 숫자만 입력" name="phoneNumber"
                            title="전화번호 입력" class="signin_pass" id="phoneNumber" value>
                            <button color="blue" disabled type="button" class="codeB authB telB formB2 " id="phoneChk">
                                인증하기
                            </button>
                        </div>
                        <label for="telLabel"></label>
                    </div>
                    <div class="errorDiv">
                        <div size="13" color="gray500" class="helpDiv">문자가 전송되지 않는 경우</div>
                        <img src="https://triple.guide/auth-web/images/ico_priceinfo@3x.png" alt="도움말">
                    </div>
                </div>
                <div style="margin-top: 16px;" class="telCode">
                    <label class="codeLabel1">인증번호</label>
                    <div class="codeDiv">
                        <input type="tel" maxlength="6" placeholder="숫자 6자리,인증 번호 입력" name="phone"
                        title="전화번호 입력" class="signin_pass" id="phone2" value>
                        <div size="14" color="blue" class="authDiv"></div>
                    </div>
                    <label for="codeLabel2"></label>
                </div>
                <button disabled type="button" class="submB compleB formB3" id="phoneChk2">
                    인증완료
                </button>
                <ul class="formUl">
                    <li>
                        3분 이내로 인증번호(6자리)를 입력해주세요.
                    </li>
                    <li>
                        입력시간 초과 시 "재전송 버튼을 눌러주세요."
                    </li>
                </ul>
                <div style="text-align: center; margin-top: 20px;">
                    <a href="" class="rollBack">다음에 하기</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>

      