<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/79655749c6.js" crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="travelroadsub.css">
    <title>travelLoad.html</title>
</head>
<body>
    <div class="row">
        <div class="col-6">
            
        </div>        
        <div class="col-6">
            <div id="div-top">
                <div id="div-header">
                    <div id="travelroad-top">
                        <img src="../../../../resources/static/images/logo/logo.png" alt="Travary" id="teamlogo">                
                        <i class="fa fa-bars"></i>                
                    </div>
                    <div id="searchForm">
                        <i class="fas fa-search"></i>
                        <div id="searchInput">
                            <input type="text" id="search" placeholder="어디로,어떤 여행을 떠날 예정인가요?"/>
                        </div>
                        <i class="fas fa-keyboard"></i>
                        <i class="fas fa-microphone"></i>                
                    </div>
                </div>        
            </div>
            <div id="div-mid">
                <div id="div-body">
                    <div id="menu">
                        <a href="">핫플콕콕</a>
                        <a href="">AI콕콕 플래너</a>
                        <a href="">AI콕콕</a>
                    </div>
                    <div id="image">
                        <img src="../../../../resources/static/images/Login/1.jpg">
                    </div>
                    <div>

                    </div>            
                </div>        
            </div>
            <div id="div-bottom">
                <div id="div-footer">

                </div>
            </div>
        </div>
    </div>
</body>
</html>