div {
    display: block;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;    
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

em {
    font-style: italic;
}

a, abbr, acronym, address, applet, article, aside,
audio, b, blockquote, big, body, center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption,
figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i,
iframe, img, ins, input, select, textarea, button, kbd, keygen, label, legend,
li, meter, nav, menu, object, ol, output, ol, output, p, pre, progress, q, s, samp,
section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot,
thead, th, tr, colgroup, col, tdvideo, tt, u, ul, var {
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    height: 100%;
    background: #fff;
    overflow-x: hidden;
}

body, input, textarea, button, select, table {
    font: 13px/1.4 NotoSansKR,NotoSansJP,"돋움",Dotum,AppleGothic,Sans-serif;
    color: #666;
    -webkit-text-size-adjust: none;
}

body {    
    margin: 0 auto;
    max-width: 1920px;
}

div {  
    box-sizing: border-box;
}

a {
    font-family: NotoSansKR,NotoSansJP,"돋움",Dotum,AppleGothic,Sans-serif;
    color: #333;
    text-decoration: none;
}

a:link, a:visited, a:hover, a:focus, a:active {
    text-decoration: none;
}

.roadmain {    
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;    
}

.roadout {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.rmroid .rslide .roadout {
    -webkit-transform: translate3d();
    transform: translate3d();
}

.roadin {      
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;  
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
}

/*top*/
.roadtop.pagetop {    
    height: 695px;
    border-bottom: 1px solid #fff;
    position: relative;
}

.roadtop .outdeco {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.roadtop.pagetop .outdeco {
    position: absolute;    
    left: 50%;
    top: 0;
    margin-left: -600px;
    z-index: 100;    
}

.roadtop.pagetop .indeco {
    padding: 285px 0 0;
    color: #fff;
    text-align: center;
}

.roadtop.pagetop .indeco strong {
    display: block;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -2.5px;
    line-height: 46px;
}

.roadtop.pagetop .indeco p {
    padding: 12px 0 45px;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: -1.2px;
    line-height: 30px;
}

.outdeco2 {
    position: relative;
}

.roadtop.pagetop .outdeco2 {
    position: relative;
    height: 695px;    
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.roadtop.pagetop .outdeco2:after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, .4);
}

.roadtop.pagetop .imglink {
    padding-left: 30px;
    position: absolute;
    right: 32px;
    bottom: 40px;
    color: #fff;
    font-size: 18px;
    letter-spacing: -0.8px;
}

.roadtop.pagetop .imglink:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(https://korean.visitkorea.or.kr/resources/images/curation/icon_wallpaper_link1.png) no-repeat;
}

.roadtop.pagetop .imglink span {
    display: block;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0;
}

.roadtop.pagetop .imglink span:after {
    content: '';
    display: inline-block;
    width: 17px;
    height: 12px;
    background: url(https://korean.visitkorea.or.kr/resources/images/curation/icon_wallpaper_link2.png) no-repeat;
    margin-left: 8px;
}

.roadtop.pagetop:after {
    content: '';
}

/*bottom*/
.pagebottom {
    width: 980px;
    margin: 0 auto;
    padding: 130px 20px 27px 20px;
}

.pagebottom {
    width: auto;
    padding: 0 0 80px;
}

/*fav-tab*/
.fav-tab {
    height: 75px;
    background: #f0f2f7;
}

dl, ul, ol, menu, li {
    list-style: none;
}

.fav-tab ul {
    height: 74px;
    background: #fff;
    width: 900px;
    margin: 0 auto;
    position: relative;
    top: -40px;
    border-radius: 50px;    
}

.fav-tab ul li {
    float: left;
    width: 50%;
}

.fav-tab ul li a {
    display: block;
    font-size: 25px;
    letter-spacing: -1.5px;
    line-height: 74px;
    color: #767676;
    position: relative;
}

.fav-tab ul li.fav-on a {
    font-weight: 700 !important;
    color: #fff;
    background: #567ff2;
    box-shadow: 6px 9px 16px 0px rgba(96, 107, 243, 0.35);
    border-radius: 50px;    
}

.fav-tab ul li a:before {
    content: '';
    display: inline-block;
    margin: 0 11px 0 20px;
    vertical-align: -13px;
    width: 46px;
    height: 46px;
    background: url(https://korean.visitkorea.or.kr/resources/images/curation/icon_popularity_tab.png) no-repeat;
}

.fav-tab ul li:first-child.fav-on a:before {
    background-position: 0 -46px;
}

.fav-tab ul li a strong {
    font-weight: 400;
}

.fav-tab ul li a:after {
    content: '';
    display: inline-block;
    width: 22px;
    height: 13px;
    position: absolute;
    right: 31px;
    top: 31px;
    background: url(https://korean.visitkorea.or.kr/resources/images/curation/icon_popularity_tab1.png) no-repeat;
}

.fav-tab ul li.fav-on a:after {
    background-position: 0 -13px;
}

.fav-tab ul li:last-child a:before {
    background-position: 0 -92px;
}

/*travarea*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    font-family: NotoSansKR,NotoSansJP,"돋움",Dotum,AppleGothic,Sans-serif;
}

.travarea .area-menu {
    margin: 0 auto;
    position: relative;
    padding: 43px 0 0;
}

caption, .blind, .hidden, .ir {
    overflow: hidden;
    position: absolute;
    top: auto;
    left: -9999px;
    width: 1px;
    height: 1px;
    text-indent: -9999px;
}

/*area-wrap*/
.travarea .area-menu {
    margin: 0 auto;
    position: relative;
    padding: 43px 0 0;
}

.travarea .area-menu .area-wrap {
    width: 1200px;
    margin: 0 auto;
}

.travarea h3 {
    padding: 0 0 30px;
    font-size: 28px;
    font-weight: 700;
    color: #333;
    letter-spacing: -1.7px;
}

address, caption, cite, code, dfn, em, var {
    font-style: normal;
    font-weight: normal;
}

.travarea h3 em {
    font-weight: 700;
    color: #567ff2;
}

input, button, textarea, select {
    font-size: 1em;
    font-family: NotoSansKR,NotoSansJP,"돋움",Dotum,AppleGothic,Sans-serif;
}

.travarea .area-wrap button {
    display: none;
}

/*local-wrap*/
.travarea .area-menu .roadmain {
    position: static;
    overflow: inherit;
    height: 158px;
    overflow: hidden;
}

.travarea .area-menu ul li {
    width: 120px;
}

.travarea .area-menu a {
    display: block;
    text-align: center;
}

.travarea .area-menu a em {
    display: block;
    font-size: 18px;
    color: #777;
    position: relative;
}

.travarea .area-menu a:hover em,
.travarea .area-menu a.on em {
    font-weight: 700;
    color: #557ef1;
}

.travarea .area-menu a em:before {
    content: '';
    display: block;
    height: 120px;
    margin: 0 0 9px;
    background: url(https://korean.visitkorea.or.kr/resources/images/curation/icon_area.gif) no-repeat;
}

.travarea .area-menu a span {
    display: inline-block;
}

.travarea .area-menu a.on em:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 120px;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(86, 127, 242, .8) url(https://korean.visitkorea.or.kr/resources/images/curation/icon_area_check.png) 50% 49px no-repeat;
    border-radius: 100%;
}

.travarea .area-menu a.incheon em:before {
    background-position: 0 -120px;
}

.travarea .area-menu a.daejeon em:before {
    background-position: 0 -240px;
}

.travarea .area-menu a.daegu em:before {
    background-position: 0 -360px;
}

.travarea .area-menu a.gwanju em:before {
    background-position: 0 -480px;
}

.travarea .area-menu a.busan em:before {
    background-position: 0 -600px;
}

.travarea .area-menu a.ulsan em:before {
    background-position: 0 -720px;
}

.travarea .area-menu a.sejong em:before {
    background-position: 0 -840px;
}

.travarea .area-menu a.gyeonggi em:before {
    background-position: 0 -960px;
}

.travarea .area-menu a.gangwon em:before {
    background-position: 0 -1080px;
}

.travarea .area-menu a.chungbuk em:before {
    background-position: 0 -1200px;
}

.travarea .area-menu a.chungnam em:before {
    background-position: 0 -1320px;
}

.travarea .area-menu a.kyeongbuk em:before {
    background-position: 0 -1440px;
}

.travarea .area-menu a.kyeongnam em:before {
    background-position: 0 -1560px;
}

.travarea .area-menu a.jeonbuk em:before {
    background-position: 0 -1680px;
}

.travarea .area-menu a.jeonnam em:before {
    background-position: 0 -1800px;
}

.travarea .area-menu a.jeju em:before {
    background-position: 0 -1920px;
}