<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/79655749c6.js" crossorigin="anonymous"></script>     
    <link rel="stylesheet" href="travelroadmain.css">
    <title>travelroadmain.html</title>
</head>
<body>
    <div class="roadmain tabs_content" id="tabNarea">
        <div class="roadout">
            <div class="roadin tplace tabNarea_li" style="min-height: 700px;">
                <div class="roadtop pagetop t1" id="topgnb">
                    <div class="outdeco">
                        <div class="indeco" id="innerDiv">
                            <strong>Travary</strong>
                            <p>
                                국내를 대표하는 관광 여행지<br/>
                                아직 가보지 못한 혹은 다시 가고 싶었던 곳의 정보를 제공해주는 플랫폼<br/>
                                Travary와 함께 인기 여행지와 맛집을 알아가 보세요
                            </p>
                        </div>                        
                    </div>
                    <div class="outdeco2" style="background-image: url('../../../../resources/static/images/Login/1.jpg');"></div>
                    <a href="javascprit:imgSaving(2)" class="imglink">
                        이 사진이 마음에 드시나요?
                        <span>
                            월페이퍼 바로가기
                        </span>
                    </a>
                </div>
                <div class="pagebottom">
                    <div class="fav-tab">
                        <div class="fav-empty">
                            <ul>
                                <li class="fav-on">
                                    <a href="">
                                        Travary
                                        <strong>인기여행지</strong>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Travary
                                        <strong>인기 맛집</strong>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="travarea">
                        <h2 class="blind"></h2>
                        <div class="area-menu">
                            <div class="area-wrap">
                                <h3>
                                    <em>서울</em>
                                    인기 여행지
                                </h3>
                                <button type="button" onclick="AreaOnOff();">지역변경</button>
                                <div class="area-sort">
                                    <button type="button" id="sort_button">인기순</button>
                                    <div class="area-layer">
                                        <button type="button" class="area-on" onclick="changesort(this,'popular');">인기순</button>
                                        <button type="button" onclick="changesort(this,'distance');">거리순</button>
                                    </div>
                                </div>
                            </div>
                            <div class="local-wrap">
                                <div class="roadmain rminit rmhoriz">
                                    <ul class="roadout" style="transition-duration: 0ms; transform: translate3d(0,0,0);">
                                        <li class="roadin roadin_act" id="karea1" style="margin-right: 15px;">
                                            <a href="javascript:;" class="seoul on" onclick="areaClick(1)" title="선택됨">
                                                <em>
                                                    <span>서울</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="roadin roadin_next" id="karea2" style="margin-right: 15px;">
                                            <a href="javascript:;" class="incheon" onclick="areaClick(2)" title="선택됨">
                                                <em>
                                                    <span>인천</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="roadin" id="karea3" style="margin-right: 15px;">
                                            <a href="javascript:;" class="daejeon" onclick="areaClick(3)" title="선택됨">
                                                <em>
                                                    <span>대전</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="roadin" id="karea4" style="margin-right: 15px;">
                                            <a href="javascript:;" class="daegu" onclick="areaClick(4)" title="선택됨">
                                                <em>
                                                    <span>대구</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="roadin" id="karea5" style="margin-right: 15px;">
                                            <a href="javascript:;" class="gwangju" onclick="areaClick(5)" title="선택됨">
                                                <em>
                                                    <span>광주</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="roadin" id="karea6" style="margin-right: 15px;">
                                            <a href="javascript:;" class="busan" onclick="areaClick(6)" title="선택됨">
                                                <em>
                                                    <span>부산</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="roadin" id="karea7" style="margin-right: 15px;">
                                            <a href="javascript:;" class="ulsan" onclick="areaClick(7)" title="선택됨">
                                                <em>
                                                    <span>울산</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="roadin" id="karea8" style="margin-right: 15px;">
                                            <a href="javascript:;" class="sejong" onclick="areaClick(8)" title="선택됨">
                                                <em>
                                                    <span>세종</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="roadin" id="karea9" style="margin-right: 15px;">
                                            <a href="javascript:;" class="gyeonggi" onclick="areaClick(9)" title="선택됨">
                                                <em>
                                                    <span>경기</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="roadin" id="karea10" style="margin-right: 15px;">
                                            <a href="javascript:;" class="gangwon" onclick="areaClick(10)" title="선택됨">
                                                <em>
                                                    <span>강원</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="roadin" id="karea11" style="margin-right: 15px;">
                                            <a href="javascript:;" class="chungbuk" onclick="areaClick(index)" title="선택됨">
                                                <em>
                                                    <span>충북</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="roadin" id="karea12" style="margin-right: 15px;">
                                            <a href="javascript:;" class="chungnam" onclick="areaClick(index)" title="선택됨">
                                                <em>
                                                    <span>충남</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="roadin" id="karea13" style="margin-right: 15px;">
                                            <a href="javascript:;" class="kyeongbuk" onclick="areaClick(index)" title="선택됨">
                                                <em>
                                                    <span>경북</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="roadin" id="karea14" style="margin-right: 15px;">
                                            <a href="javascript:;" class="kyeongnam" onclick="areaClick(index)" title="선택됨">
                                                <em>
                                                    <span>경남</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="roadin" id="karea15" style="margin-right: 15px;">
                                            <a href="javascript:;" class="jeonbuk" onclick="areaClick(index)" title="선택됨">
                                                <em>
                                                    <span>전북</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="roadin" id="karea16" style="margin-right: 15px;">
                                            <a href="javascript:;" class="jeonnam" onclick="areaClick(index)" title="선택됨">
                                                <em>
                                                    <span>전남</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="roadin" id="karea17" style="margin-right: 15px;">
                                            <a href="javascript:;" class="jeju" onclick="areaClick(index)" title="선택됨">
                                                <em>
                                                    <span>제주</span>
                                                </em>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="btn-wrap">
                                        <div class="rbtnprev rbtndis" tabindex="-1" role="button" aria-label="Previous Area" aria-disabled="true">
                                            이전
                                        </div>
                                        <div class="rbtnnext rbtndis" tabindex="0" role="button" aria-label="Next Area" aria-disabled="false">
                                            다음
                                        </div>                                        
                                    </div>                                    
                                    <span class="road-ntf" area-live="assertive" aria-atomic="true"></span>
                                </div>                                
                            </div>
                        </div>
                        <div class="area-list">
                            <h4 class="blind">Travary</h4>
                            <div class="sorting">
                                <button type="button" class="on" onclick="changesort(this,'popular');">
                                    <span>
                                        인기순
                                    </span>
                                </button>
                                <button type="button" class onclick="changesort(this,'distance');">
                                    <span>
                                        거리순
                                    </span>
                                </button>
                            </div>
                            <ul>
                                <li onclick="popAreaConsume(this)"
                                    data-content-order="1"
                                    data-area-type="MAIN_A"
                                    data-page="MAIN"
                                    data-pid="a"
                                    data-content-type="12"
                                    tabindex="0">
                                    <a href="javascript:goDetail(data-pid,data-area-type,data-content-type);"
                                       class="img"
                                       style="background-image: url(../../../../resources/static/images/road/경복궁.jpg);">
                                    경복궁
                                    </a>
                                    <strong>
                                        <a href="javascript:goDetail(data-pid,data-area-type,data-content-type);">경복궁</a>
                                    </strong>
                                    <div class="loc_info">
                                        <span>서울 종로구</span>
                                        <span class="km" style="display: inline;"></span>
                                        14.6
                                        km
                                    </div>
                                    <div class="loc_tag">
                                        <span>#15_16한국관광100선</span>
                                        <span>#17_18한국관광100선</span>
                                        <span>#19_20한국관광100선</span>
                                        <span>#21_22한국관광100선</span>
                                        <span>#23_24한국관광100선</span>
                                        <span>#BTS</span>
                                        <span>#bts여행</span>
                                        <span>#bts투어</span>
                                        <span>#가족여행</span>
                                        <span>#경복궁</span>
                                        <span>#고궁</span>
                                        <span>#관광지</span>
                                        <span>#교과서속여행</span>
                                        <span>#당일치기여행</span>
                                        <span>#서울</span>
                                        <span>#서울근교여행</span>
                                        <span>#서울여행</span>
                                        <span>#서울여행코스</span>
                                        <span>#수도권</span>
                                        <span>#아이와함께</span>
                                        <span>#역사</span>
                                        <span>#역사유적지</span>
                                        <span>#연인과함께</span>
                                        <span>#인생샷</span>
                                        <span>#전통역사문화체험</span>
                                        <span>#종로</span>
                                        <span>#종로가볼만한곳</span>
                                        <span>#친구와함께</span>
                                        <span>#한국관광100선</span>                                        
                                    </div>
                                    <a href="javascript:;"
                                       class="bookmark"
                                       onclick="setFavContent('data-pid',this)">
                                    좋아요
                                    </a>
                                    <a href="javascript:golocation(data-pid,위도,경도)" class="map">
                                    여행지도    
                                    </a>                                    
                                </li>
                                <li onclick="popAreaConsume(this)"
                                    data-content-order="2"
                                    data-area-type="MAIN_A"
                                    data-page="MAIN"
                                    data-pid="b"
                                    data-content-type="12"
                                    tabindex="0">
                                    <a href="javascript:goDetail(data-pid,data-area-type,data-content-type);"
                                       class="img"
                                       style="background-image: url(../../../../resources/static/images/road/서울숲.bmp);">
                                    서울숲
                                    </a>
                                    <strong>
                                        <a href="javascript:goDetail(data-pid,data-area-type,data-content-type);">서울숲</a>
                                    </strong>
                                    <div class="loc_info">
                                        <span>서울 종로구</span>
                                        <span class="km" style="display: inline;"></span>
                                        16.3
                                        km
                                    </div>
                                    <div class="loc_tag">                                       
                                        <span>#23_24한국관광100선</span>                                        
                                        <span>#가족여행</span>
                                        <span>#걷기길</span>                                        
                                        <span>#관광지</span>
                                        <span>#데이트코스</span>
                                        <span>#반려동물동반여행지</span>
                                        <span>#생태관광지</span>
                                        <span>#서울숲</span>                                        
                                        <span>#수도권</span>
                                        <span>#수도권반려동물여행지</span>
                                        <span>#아이와함께</span>                                        
                                        <span>#연인과함께</span>
                                        <span>#연중무휴</span>
                                        <span>#피크닉</span>                                        
                                        <span>#한국관광100선</span>
                                        <span>#휴식공간</span>
                                        <span>#후식여행</span>
                                        <span>#휴식하기</span>
                                        <span>#휴식하기좋은곳</span>
                                    </div>
                                    <a href="javascript:;"
                                       class="bookmark"
                                       onclick="setFavContent('data-pid',this)">
                                    좋아요
                                    </a>
                                    <a href="javascript:golocation(data-pid,위도,경도)" class="map">
                                    여행지도    
                                    </a>                                    
                                </li>
                                <li onclick="popAreaConsume(this)"
                                    data-content-order="2"
                                    data-area-type="MAIN_A"
                                    data-page="MAIN"
                                    data-pid="b"
                                    data-content-type="12"
                                    tabindex="0">
                                    <a href="javascript:goDetail(data-pid,data-area-type,data-content-type);"
                                       class="img"
                                       style="background-image: url(../../../../resources/static/images/road/서울숲.bmp);">
                                    서울숲
                                    </a>
                                    <strong>
                                        <a href="javascript:goDetail(data-pid,data-area-type,data-content-type);">서울숲</a>
                                    </strong>
                                    <div class="loc_info">
                                        <span>서울 종로구</span>
                                        <span class="km" style="display: inline;"></span>
                                        16.3
                                        km
                                    </div>
                                    <div class="loc_tag">                                       
                                        <span>#23_24한국관광100선</span>                                        
                                        <span>#가족여행</span>
                                        <span>#걷기길</span>                                        
                                        <span>#관광지</span>
                                        <span>#데이트코스</span>
                                        <span>#반려동물동반여행지</span>
                                        <span>#생태관광지</span>
                                        <span>#서울숲</span>                                        
                                        <span>#수도권</span>
                                        <span>#수도권반려동물여행지</span>
                                        <span>#아이와함께</span>                                        
                                        <span>#연인과함께</span>
                                        <span>#연중무휴</span>
                                        <span>#피크닉</span>                                        
                                        <span>#한국관광100선</span>
                                        <span>#휴식공간</span>
                                        <span>#후식여행</span>
                                        <span>#휴식하기</span>
                                        <span>#휴식하기좋은곳</span>
                                    </div>
                                    <a href="javascript:;"
                                       class="bookmark"
                                       onclick="setFavContent('data-pid',this)">
                                    좋아요
                                    </a>
                                    <a href="javascript:golocation(data-pid,위도,경도)" class="map">
                                    여행지도    
                                    </a>                                    
                                </li>
                                <li onclick="popAreaConsume(this)"
                                    data-content-order="2"
                                    data-area-type="MAIN_A"
                                    data-page="MAIN"
                                    data-pid="b"
                                    data-content-type="12"
                                    tabindex="0">
                                    <a href="javascript:goDetail(data-pid,data-area-type,data-content-type);"
                                       class="img"
                                       style="background-image: url(../../../../resources/static/images/road/서울숲.bmp);">
                                    서울숲
                                    </a>
                                    <strong>
                                        <a href="javascript:goDetail(data-pid,data-area-type,data-content-type);">서울숲</a>
                                    </strong>
                                    <div class="loc_info">
                                        <span>서울 종로구</span>
                                        <span class="km" style="display: inline;"></span>
                                        16.3
                                        km
                                    </div>
                                    <div class="loc_tag">                                       
                                        <span>#23_24한국관광100선</span>                                        
                                        <span>#가족여행</span>
                                        <span>#걷기길</span>                                        
                                        <span>#관광지</span>
                                        <span>#데이트코스</span>
                                        <span>#반려동물동반여행지</span>
                                        <span>#생태관광지</span>
                                        <span>#서울숲</span>                                        
                                        <span>#수도권</span>
                                        <span>#수도권반려동물여행지</span>
                                        <span>#아이와함께</span>                                        
                                        <span>#연인과함께</span>
                                        <span>#연중무휴</span>
                                        <span>#피크닉</span>                                        
                                        <span>#한국관광100선</span>
                                        <span>#휴식공간</span>
                                        <span>#후식여행</span>
                                        <span>#휴식하기</span>
                                        <span>#휴식하기좋은곳</span>
                                    </div>
                                    <a href="javascript:;"
                                       class="bookmark"
                                       onclick="setFavContent('data-pid',this)">
                                    좋아요
                                    </a>
                                    <a href="javascript:golocation(data-pid,위도,경도)" class="map">
                                    여행지도    
                                    </a>                                    
                                </li>
                                <li onclick="popAreaConsume(this)"
                                    data-content-order="2"
                                    data-area-type="MAIN_A"
                                    data-page="MAIN"
                                    data-pid="b"
                                    data-content-type="12"
                                    tabindex="0">
                                    <a href="javascript:goDetail(data-pid,data-area-type,data-content-type);"
                                       class="img"
                                       style="background-image: url(../../../../resources/static/images/road/서울숲.bmp);">
                                    서울숲
                                    </a>
                                    <strong>
                                        <a href="javascript:goDetail(data-pid,data-area-type,data-content-type);">서울숲</a>
                                    </strong>
                                    <div class="loc_info">
                                        <span>서울 종로구</span>
                                        <span class="km" style="display: inline;"></span>
                                        16.3
                                        km
                                    </div>
                                    <div class="loc_tag">                                       
                                        <span>#23_24한국관광100선</span>                                        
                                        <span>#가족여행</span>
                                        <span>#걷기길</span>                                        
                                        <span>#관광지</span>
                                        <span>#데이트코스</span>
                                        <span>#반려동물동반여행지</span>
                                        <span>#생태관광지</span>
                                        <span>#서울숲</span>                                        
                                        <span>#수도권</span>
                                        <span>#수도권반려동물여행지</span>
                                        <span>#아이와함께</span>                                        
                                        <span>#연인과함께</span>
                                        <span>#연중무휴</span>
                                        <span>#피크닉</span>                                        
                                        <span>#한국관광100선</span>
                                        <span>#휴식공간</span>
                                        <span>#후식여행</span>
                                        <span>#휴식하기</span>
                                        <span>#휴식하기좋은곳</span>
                                    </div>
                                    <a href="javascript:;"
                                       class="bookmark"
                                       onclick="setFavContent('data-pid',this)">
                                    좋아요
                                    </a>
                                    <a href="javascript:golocation(data-pid,위도,경도)" class="map">
                                    여행지도    
                                    </a>                                    
                                </li>
                                <li onclick="popAreaConsume(this)"
                                    data-content-order="2"
                                    data-area-type="MAIN_A"
                                    data-page="MAIN"
                                    data-pid="b"
                                    data-content-type="12"
                                    tabindex="0">
                                    <a href="javascript:goDetail(data-pid,data-area-type,data-content-type);"
                                       class="img"
                                       style="background-image: url(../../../../resources/static/images/road/서울숲.bmp);">
                                    서울숲
                                    </a>
                                    <strong>
                                        <a href="javascript:goDetail(data-pid,data-area-type,data-content-type);">서울숲</a>
                                    </strong>
                                    <div class="loc_info">
                                        <span>서울 종로구</span>
                                        <span class="km" style="display: inline;"></span>
                                        16.3
                                        km
                                    </div>
                                    <div class="loc_tag">                                       
                                        <span>#23_24한국관광100선</span>                                        
                                        <span>#가족여행</span>
                                        <span>#걷기길</span>                                        
                                        <span>#관광지</span>
                                        <span>#데이트코스</span>
                                        <span>#반려동물동반여행지</span>
                                        <span>#생태관광지</span>
                                        <span>#서울숲</span>                                        
                                        <span>#수도권</span>
                                        <span>#수도권반려동물여행지</span>
                                        <span>#아이와함께</span>                                        
                                        <span>#연인과함께</span>
                                        <span>#연중무휴</span>
                                        <span>#피크닉</span>                                        
                                        <span>#한국관광100선</span>
                                        <span>#휴식공간</span>
                                        <span>#후식여행</span>
                                        <span>#휴식하기</span>
                                        <span>#휴식하기좋은곳</span>
                                    </div>
                                    <a href="javascript:;"
                                       class="bookmark"
                                       onclick="setFavContent('data-pid',this)">
                                    좋아요
                                    </a>
                                    <a href="javascript:golocation(data-pid,위도,경도)" class="map">
                                    여행지도    
                                    </a>                                    
                                </li>
                                <li onclick="popAreaConsume(this)"
                                    data-content-order="2"
                                    data-area-type="MAIN_A"
                                    data-page="MAIN"
                                    data-pid="b"
                                    data-content-type="12"
                                    tabindex="0">
                                    <a href="javascript:goDetail(data-pid,data-area-type,data-content-type);"
                                       class="img"
                                       style="background-image: url(../../../../resources/static/images/road/서울숲.bmp);">
                                    서울숲
                                    </a>
                                    <strong>
                                        <a href="javascript:goDetail(data-pid,data-area-type,data-content-type);">서울숲</a>
                                    </strong>
                                    <div class="loc_info">
                                        <span>서울 종로구</span>
                                        <span class="km" style="display: inline;"></span>
                                        16.3
                                        km
                                    </div>
                                    <div class="loc_tag">                                       
                                        <span>#23_24한국관광100선</span>                                        
                                        <span>#가족여행</span>
                                        <span>#걷기길</span>                                        
                                        <span>#관광지</span>
                                        <span>#데이트코스</span>
                                        <span>#반려동물동반여행지</span>
                                        <span>#생태관광지</span>
                                        <span>#서울숲</span>                                        
                                        <span>#수도권</span>
                                        <span>#수도권반려동물여행지</span>
                                        <span>#아이와함께</span>                                        
                                        <span>#연인과함께</span>
                                        <span>#연중무휴</span>
                                        <span>#피크닉</span>                                        
                                        <span>#한국관광100선</span>
                                        <span>#휴식공간</span>
                                        <span>#후식여행</span>
                                        <span>#휴식하기</span>
                                        <span>#휴식하기좋은곳</span>
                                    </div>
                                    <a href="javascript:;"
                                       class="bookmark"
                                       onclick="setFavContent('data-pid',this)">
                                    좋아요
                                    </a>
                                    <a href="javascript:golocation(data-pid,위도,경도)" class="map">
                                    여행지도    
                                    </a>                                    
                                </li>
                                <li onclick="popAreaConsume(this)"
                                    data-content-order="2"
                                    data-area-type="MAIN_A"
                                    data-page="MAIN"
                                    data-pid="b"
                                    data-content-type="12"
                                    tabindex="0">
                                    <a href="javascript:goDetail(data-pid,data-area-type,data-content-type);"
                                       class="img"
                                       style="background-image: url(../../../../resources/static/images/road/서울숲.bmp);">
                                    서울숲
                                    </a>
                                    <strong>
                                        <a href="javascript:goDetail(data-pid,data-area-type,data-content-type);">서울숲</a>
                                    </strong>
                                    <div class="loc_info">
                                        <span>서울 종로구</span>
                                        <span class="km" style="display: inline;"></span>
                                        16.3
                                        km
                                    </div>
                                    <div class="loc_tag">                                       
                                        <span>#23_24한국관광100선</span>                                        
                                        <span>#가족여행</span>
                                        <span>#걷기길</span>                                        
                                        <span>#관광지</span>
                                        <span>#데이트코스</span>
                                        <span>#반려동물동반여행지</span>
                                        <span>#생태관광지</span>
                                        <span>#서울숲</span>                                        
                                        <span>#수도권</span>
                                        <span>#수도권반려동물여행지</span>
                                        <span>#아이와함께</span>                                        
                                        <span>#연인과함께</span>
                                        <span>#연중무휴</span>
                                        <span>#피크닉</span>                                        
                                        <span>#한국관광100선</span>
                                        <span>#휴식공간</span>
                                        <span>#후식여행</span>
                                        <span>#휴식하기</span>
                                        <span>#휴식하기좋은곳</span>
                                    </div>
                                    <a href="javascript:;"
                                       class="bookmark"
                                       onclick="setFavContent('data-pid',this)">
                                    좋아요
                                    </a>
                                    <a href="javascript:golocation(data-pid,위도,경도)" class="map">
                                    여행지도    
                                    </a>                                    
                                </li>
                                <li onclick="popAreaConsume(this)"
                                    data-content-order="2"
                                    data-area-type="MAIN_A"
                                    data-page="MAIN"
                                    data-pid="b"
                                    data-content-type="12"
                                    tabindex="0">
                                    <a href="javascript:goDetail(data-pid,data-area-type,data-content-type);"
                                       class="img"
                                       style="background-image: url(../../../../resources/static/images/road/서울숲.bmp);">
                                    서울숲
                                    </a>
                                    <strong>
                                        <a href="javascript:goDetail(data-pid,data-area-type,data-content-type);">서울숲</a>
                                    </strong>
                                    <div class="loc_info">
                                        <span>서울 종로구</span>
                                        <span class="km" style="display: inline;"></span>
                                        16.3
                                        km
                                    </div>
                                    <div class="loc_tag">                                       
                                        <span>#23_24한국관광100선</span>                                        
                                        <span>#가족여행</span>
                                        <span>#걷기길</span>                                        
                                        <span>#관광지</span>
                                        <span>#데이트코스</span>
                                        <span>#반려동물동반여행지</span>
                                        <span>#생태관광지</span>
                                        <span>#서울숲</span>                                        
                                        <span>#수도권</span>
                                        <span>#수도권반려동물여행지</span>
                                        <span>#아이와함께</span>                                        
                                        <span>#연인과함께</span>
                                        <span>#연중무휴</span>
                                        <span>#피크닉</span>                                        
                                        <span>#한국관광100선</span>
                                        <span>#휴식공간</span>
                                        <span>#후식여행</span>
                                        <span>#휴식하기</span>
                                        <span>#휴식하기좋은곳</span>
                                    </div>
                                    <a href="javascript:;"
                                       class="bookmark"
                                       onclick="setFavContent('data-pid',this)">
                                    좋아요
                                    </a>
                                    <a href="javascript:golocation(data-pid,위도,경도)" class="map">
                                    여행지도    
                                    </a>                                    
                                </li>
                                <li onclick="popAreaConsume(this)"
                                    data-content-order="2"
                                    data-area-type="MAIN_A"
                                    data-page="MAIN"
                                    data-pid="b"
                                    data-content-type="12"
                                    tabindex="0">
                                    <a href="javascript:goDetail(data-pid,data-area-type,data-content-type);"
                                       class="img"
                                       style="background-image: url(../../../../resources/static/images/road/서울숲.bmp);">
                                    서울숲
                                    </a>
                                    <strong>
                                        <a href="javascript:goDetail(data-pid,data-area-type,data-content-type);">서울숲</a>
                                    </strong>
                                    <div class="loc_info">
                                        <span>서울 종로구</span>
                                        <span class="km" style="display: inline;"></span>
                                        16.3
                                        km
                                    </div>
                                    <div class="loc_tag">                                       
                                        <span>#23_24한국관광100선</span>                                        
                                        <span>#가족여행</span>
                                        <span>#걷기길</span>                                        
                                        <span>#관광지</span>
                                        <span>#데이트코스</span>
                                        <span>#반려동물동반여행지</span>
                                        <span>#생태관광지</span>
                                        <span>#서울숲</span>                                        
                                        <span>#수도권</span>
                                        <span>#수도권반려동물여행지</span>
                                        <span>#아이와함께</span>                                        
                                        <span>#연인과함께</span>
                                        <span>#연중무휴</span>
                                        <span>#피크닉</span>                                        
                                        <span>#한국관광100선</span>
                                        <span>#휴식공간</span>
                                        <span>#후식여행</span>
                                        <span>#휴식하기</span>
                                        <span>#휴식하기좋은곳</span>
                                    </div>
                                    <a href="javascript:;"
                                       class="bookmark"
                                       onclick="setFavContent('data-pid',this)">
                                    좋아요
                                    </a>
                                    <a href="javascript:golocation(data-pid,위도,경도)" class="map">
                                    여행지도    
                                    </a>                                    
                                </li>
                                <li onclick="popAreaConsume(this)"
                                    data-content-order="2"
                                    data-area-type="MAIN_A"
                                    data-page="MAIN"
                                    data-pid="b"
                                    data-content-type="12"
                                    tabindex="0">
                                    <a href="javascript:goDetail(data-pid,data-area-type,data-content-type);"
                                       class="img"
                                       style="background-image: url(../../../../resources/static/images/road/서울숲.bmp);">
                                    서울숲
                                    </a>
                                    <strong>
                                        <a href="javascript:goDetail(data-pid,data-area-type,data-content-type);">서울숲</a>
                                    </strong>
                                    <div class="loc_info">
                                        <span>서울 종로구</span>
                                        <span class="km" style="display: inline;"></span>
                                        16.3
                                        km
                                    </div>
                                    <div class="loc_tag">                                       
                                        <span>#23_24한국관광100선</span>                                        
                                        <span>#가족여행</span>
                                        <span>#걷기길</span>                                        
                                        <span>#관광지</span>
                                        <span>#데이트코스</span>
                                        <span>#반려동물동반여행지</span>
                                        <span>#생태관광지</span>
                                        <span>#서울숲</span>                                        
                                        <span>#수도권</span>
                                        <span>#수도권반려동물여행지</span>
                                        <span>#아이와함께</span>                                        
                                        <span>#연인과함께</span>
                                        <span>#연중무휴</span>
                                        <span>#피크닉</span>                                        
                                        <span>#한국관광100선</span>
                                        <span>#휴식공간</span>
                                        <span>#후식여행</span>
                                        <span>#휴식하기</span>
                                        <span>#휴식하기좋은곳</span>
                                    </div>
                                    <a href="javascript:;"
                                       class="bookmark"
                                       onclick="setFavContent('data-pid',this)">
                                    좋아요
                                    </a>
                                    <a href="javascript:golocation(data-pid,위도,경도)" class="map">
                                    여행지도    
                                    </a>                                    
                                </li>
                                <li onclick="popAreaConsume(this)"
                                    data-content-order="2"
                                    data-area-type="MAIN_A"
                                    data-page="MAIN"
                                    data-pid="b"
                                    data-content-type="12"
                                    tabindex="0">
                                    <a href="javascript:goDetail(data-pid,data-area-type,data-content-type);"
                                       class="img"
                                       style="background-image: url(../../../../resources/static/images/road/서울숲.bmp);">
                                    서울숲
                                    </a>
                                    <strong>
                                        <a href="javascript:goDetail(data-pid,data-area-type,data-content-type);">서울숲</a>
                                    </strong>
                                    <div class="loc_info">
                                        <span>서울 종로구</span>
                                        <span class="km" style="display: inline;"></span>
                                        16.3
                                        km
                                    </div>
                                    <div class="loc_tag">                                       
                                        <span>#23_24한국관광100선</span>                                        
                                        <span>#가족여행</span>
                                        <span>#걷기길</span>                                        
                                        <span>#관광지</span>
                                        <span>#데이트코스</span>
                                        <span>#반려동물동반여행지</span>
                                        <span>#생태관광지</span>
                                        <span>#서울숲</span>                                        
                                        <span>#수도권</span>
                                        <span>#수도권반려동물여행지</span>
                                        <span>#아이와함께</span>                                        
                                        <span>#연인과함께</span>
                                        <span>#연중무휴</span>
                                        <span>#피크닉</span>                                        
                                        <span>#한국관광100선</span>
                                        <span>#휴식공간</span>
                                        <span>#후식여행</span>
                                        <span>#휴식하기</span>
                                        <span>#휴식하기좋은곳</span>
                                    </div>
                                    <a href="javascript:;"
                                       class="bookmark"
                                       onclick="setFavContent('data-pid',this)">
                                    좋아요
                                    </a>
                                    <a href="javascript:golocation(data-pid,위도,경도)" class="map">
                                    여행지도    
                                    </a>                                    
                                </li>
                            </ul>
                            <div class="btn_add">
                                <a href="javascript:addlocal();">
                                    더보기                                    
                                </a>
                            </div>
                        </div>                        
                    </div>
                    <div class="tbanner">
                        <div class="outdeco">
                            <div class="roadmain">
                                <ul class="roadout">
                                    <li class="roadin">
                                        <a href="javascript:goBanner(.do,'OUT');" style="background-color: #7c2dd8;" title="새창 열림">
                                            <img src="../../../../resources/static/images/road/배너.png" class="pc" alt="">
                                            <img src="../../../../resources/static/images/road/배너.png" class="mo" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>