input, textarea {
    font-family: inherit;
}

*, ::before, ::after {
    box-sizing: inherit;
    border-width: 0;
    border-style: none;
}

img, svg, video, canvas, audio,
iframe, embed, object {
    vertical-align: middle;
}

img, video {
    max-width: 100%;
}

button, input, optgroup, select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

button, select {
    text-transform: none;
}

body {
    margin: 0;
    line-height: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.sub {
    display: flex;
    flex-direction: column;
    min-height: 927px;    
}

.top {
    transition: height 250ms ease 0s;
    overflow: hidden;
    top: 0;
    height: 200px;
}

@media (min-width: 1142px) {
    .top {
        height: 200px;
    }
}

.regi {
    max-width: 900px;
    min-width: 315px;
}

@media (min-width: 900px) {
    .regi {
        margin: 0 auto;
    }
}

.mid {        
    text-align: left;
}

.row {    
    width: 580px;
    overflow: hidden;
}

.form1 {    
    margin-bottom: 20px;
}

.inputFormDiv {
    display: flex;
    text-align: center;
    width: 100%;
    border-width: 0px 0px 1px;
    border-color: rgba(58, 58, 58, 0.1);
    border-style: solid;
    padding: 34px 0 17px;
}

.duplicBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 45px;    
    border-radius: 4px;    
    font-weight: bold;
    color: white;
    background-color: #c9c9c9;
    font-size: 18px;
}

.inputFormDiv button {
    margin-right: 25px;
}

.inputFormDiv2 #male {
    margin: 10px;
}

.insId {
    border: 0;
    font-size: 18px;
    font-weight: bold;
       
    padding: 0;
    width: 100%;
    outline: 0;    
}

.insId::placeholder {
    color: rgb(209, 207, 207);
}

.insId:placeholder-shown {
    text-align: left;
    transform: translateX(calc(30%));
}

.insPwd {
    border: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    outline: 0;    
}

.insPwd::placeholder {
    color: rgb(209, 207, 207);
}

.insPwd:placeholder-shown {
    text-align: left;
    transform: translateX(calc(40%));    
}

.insPwd2 {
    border: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    outline: 0;    
}

.insPwd2::placeholder {
    color: rgb(209, 207, 207);
}

.insPwd2:placeholder-shown {
    text-align: left;
    transform: translateX(calc(37%));    
}

.insGend {    
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 0px;    
    margin: 0px 230px 0px 275px;
    outline: 0px;    
}

.insGend::placeholder {
    color: rgb(209, 207, 207);
}

.insGend:disabled {
    background-color: #ffffff;
}

.dropdown-menu {
    height: 108px;
    margin: 0px;
    padding: 0px;
}

.male {
    text-align: center;
    line-height: 3;
    margin: 0px;
    padding: 0px;
    font-size: large;
}

.female {
    text-align: center;
    line-height: 3;
    margin: 0px;
    padding: 0px;
    font-size: large;
}

.insBir {
    border: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 0;
    width: 100%;
    margin: 0 50px 0 0;    
    outline: 0;    
}

.insBir::placeholder {
    color: rgb(209, 207, 207);
}

.insBir:placeholder-shown {
    text-align: left;
    transform: translateX(calc(50% - 91px));    
}

.insNick {
    border: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 0;
    width: 100%;
    margin: 0 50px 0 0;
    outline: 0;    
}

.insNick::placeholder {
    color: rgb(209, 207, 207);
}

.insNick:placeholder-shown {
    text-align: left;
    transform: translateX(calc(50% - 91px));    
}

.formClose {
    width: 35px;
    height: 100%;
    margin-right: 10px;
    cursor: pointer;    
    display: inline-block !important;
}

.errorMSG {
    font-size: 13px;
    color: rgba(58, 58, 58, 0.5);
    height: 16px;
    display: none;
    margin: 6px 0 0;
}

button {
    appearance: button;   
    background-color: transparent;
    background-image: none;    
}

button, [role="button"] {
    cursor: pointer;
}

:disabled {
    cursor: default;
}

.nickBtn {
    color: rgb(58, 58, 58);
    float: none;
    font-weight: 500;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 13px;
    line-height: 16px;
}

.inputBtn {
    float: none;
    font-weight: bold;    
    text-align: center;
    width: 93%;
    display: block;
    font-size: 14px;
    line-height: 17px;
    border-radius: 4px;
    padding: 14px 12px;
    margin-top: 150px;
    border: 1px solid rgb(54, 143, 255);
    background-color: rgb(54, 143, 255);
    color: white;
}

.inputBtn2 {
    float: none;
    font-weight: bold;    
    text-align: center;
    width: 93%;
    display: block;
    font-size: 14px;
    line-height: 17px;
    border-radius: 4px;
    padding: 14px 12px;
    margin-top: 40px;
    border: 1px solid rgb(54, 143, 255);
    background-color: rgb(54, 143, 255);
    color: white;
}

.inputBtn3 {
    float: none;
    font-weight: bold;    
    text-align: center;
    width: 93%;
    display: block;
    font-size: 14px;
    line-height: 17px;
    border-radius: 4px;
    padding: 14px 12px;
    margin-top: 1px;
    margin-top: 130px;
    border: 1px solid rgb(54, 143, 255);
    background-color: rgb(54, 143, 255);
    color: white;
}

.nickBtn:disabled {
    opacity: 0.3;
}

.form2 {    
    left: 300vw;
    bottom: 500px;
    margin-bottom: 20px;
}

.form3 {
    left: 300vw;
    bottom: 870px;
    margin-bottom: 20px;
}

.slide {
    transition: transform 0.5s ease;    
}