body {
    margin: 0px;
    line-height: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img, svg, video, canvas, audio, iframe, embed, object {
    vertical-align: middle;
}

button {
    appearance: button;
    background-color: transparent;
    background-image: none;
}

button, [role="button"] {
    cursor: pointer;
}

img, video {
    max-width: 100%;
}

input, textarea {
    font-family: inherit;
}

ol, ul, menu {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.subDiv {
    display: flex;
    flex-direction: column;
    min-height: 937px;
}

.emptyDiv {
    transition: height 250ms ease 0s;
    overflow: hidden;
    top: 0px;
    height: 100px;
}

@media (min-width: 1142px) {
    .emptyDiv {
        height: 120px;
    }
}

.divForm {
    max-width: 768px;    
    min-width: 315px;
}

.inputForm {
    padding: 40px 0px 80px;
    text-align: left;
}

@media (min-width: 768px) {
    .divForm {
        margin: 0px auto;
    }
    .inputForm {
        padding: 40px 0 80px;
        width: 768px;
    }
}

.formInDiv1 {
    box-sizing: border-box;
    overflow-wrap: break-word;
    color: rgb(58, 58, 58);
    float: none;
    font-weight: bold;
    text-align: left;
    white-space: pre-line;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0px;
}

.formInDiv2 {
    box-sizing: border-box;
    overflow-wrap: break-word;
    color: rgba(58, 58, 58, 0.8);
    float: none;
    font-weight: 500;
    white-space: pre-line;
    margin: 12px 0px 0px;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0px;
}

.codeLabel1 {
    display: block;
    font-size: 13px;
    color: rgba(58, 58, 58, 0.5);
    height: 16px;
}

.codeDiv {
    display: flex;
    height: 42px;
    margin-top: 8px;
    box-sizing: border-box;
    border-width: 0px 0px 1px;
    border-color: rgba(58, 58, 58, 0.1);
    border-style: solid;
}

.codeB {
    display: inline-block;
    color: rgb(58, 58, 58);
    float: none;
    font-weight: 500;
    text-align: center;
    font-size: 13px;
    line-height: 16px;
}

.nationB {
    display: inline-block;
    float: none;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    border: 1px solid var(--color-gray200);
    border-radius: 4px;
    background-color: transparent;
    color: rgb(58, 58, 58);
    padding: 14px 12px;
}

.formB {
    display: flex;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    font-weight: bold;
    border: none;
}

.telCode img {
    margin-top: 6px;
}

.codeLabel2 {
    font-size: 13px;
    color: rgba(58, 58, 58, 0.5);
    height: 16px;
    display: none;
    margin: 6px 0px 0px;
}

.signin_pass {
    border: 0px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 0px;
    width: 100%;
    height: 22px;
    padding: 0px;
    outline: none !important;    
}

.signin_pass::placeholder {
    color: rgb(209, 207, 207);
}

.authB {
    display: inline-block;
    float: none;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    line-height: 16px;
    border-radius: 21px;
    background-color: rgb(54, 143, 255);
    color: rgb(255, 255, 255);
    padding: 13px 25px;
}

:disabled {
    cursor: default;
}

.formB2 {
    position: relative;
    top: -7px;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    line-height: 18.5px;
    height: 36px;
    width: 76px;
    margin-right: 16px;
    padding: 9px 10px 10px 11px !important;
    border-radius: 4px !important;
}

.codeB:disabled {
    opacity: 0.3;
}

.authB:disabled {
    opacity: 0.3;
}

.telB:disabled {
    border: rgba(58, 58, 58, 0.2);
    background: rgba(58, 58, 58, 0.2);
    opacity: 1;
    color: white;
}

.telLabel {
    font-size: 13px;
    color: rgba(58, 58, 58, 0.5);
    height: 16px;
    display: none;
    margin: 6px 0px 0px;
    text-align: right;
}

.errorDiv {
    text-align: right;
    margin-top: 9px;
}

.helpDiv {
    box-sizing: border-box;
    overflow-wrap: break-word;
    color: rgba(58, 58, 58, 0.5);
    display: inline;
    float: none;
    font-weight: 500;
    white-space: pre-line;
    font-size: 13px;
    line-height: 1.2;
    letter-spacing: 0px;
}

.errorDiv img {
    width: 16px;
    height: 16px;
    margin-left: 2px;
    margin-right: 14px;
    vertical-align: middle;
}

.authDiv {
    box-sizing: border-box;
    overflow-wrap: break-word;
    color: rgb(54, 143, 255);
    float: none;
    font-weight: 500;
    white-space: pre-line;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0px;
}

.submB {
    color: rgb(58, 58, 58);
    float: none;
    font-weight: 500;
    text-align: center;
    width: 100%;
    display: block;
    margin: 21px 0px 0px;
    font-size: 14px;
    line-height: 17px;
}

.compleB {
    float: none;
    font-weight: bold;
    text-align: center;
    width: 89%;
    display: block;
    margin: 21px 0px 0px;
    font-size: 14px;
    line-height: 17px;
    border-radius: 4px;
    background-color: rgb(54, 143, 255);
    color: rgb(255, 255, 255);
    padding: 14px 25px;
}

:disabled {
    cursor: default;
}

.submB {
    opacity: 0.3;
}

.compleB {
    opacity: 0.3;
}

.formB3 {
    border: rgba(58, 58, 58, 0.2);
    background: rgba(58, 58, 58, 0.2);
    opacity: 1;
    color: white;
}

.formUl {
    color: rgba(58, 58, 58, 0.5);
    padding-left: 0px;
    list-style: none;
    margin-top: 14px;
}

.formUl li {
    margin-top: 4px;
    font-size: 13px;
    line-height: 15.51px;
    font-weight: 400;
}

.formUl li::before {
    content: " ˙ ";
    margin-left: 0px;
    margin-right: 12px;
}

.rollBack {
    color: rgba(58, 58, 58, 0.3);
    text-decoration: underline;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}