<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://kit.fontawesome.com/c4d27926f7.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="admin_loc_All.css">
    <title>Document</title>
</head>
<body> 
  <nav class="navbar bg-dark v_nav sticky-top">
    <ul class="navbar-nav">
      <li class="nav-item tab">
        <a class="nav-link" href="admin_user.html">회원관련</a>
        <ul class="subtab">
          <li><a href="admin_user_All.html">회원정보 관리</a></li>
          <li><a href="admin_loc_All.html">즐겨찾기 관리</a></li>
        </ul>
      </li>
      <li class="nav-item tab">
        <a class="nav-link" href="#">여행관련</a>
        <ul class="subtab">
          <li><a href="admin_loc.html">간이 통계</a></li>
          <li><a href="admin_loc_All.html">여행지 통계</a></li>
          <li><a href="admin_loc_edit.html">관광지</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 3</a>
      </li>
    </ul>
  </nav>
    <div class="cont">
      <div class="pageinfo">
        <span>여행 관련</span>
      </div>
      <div class="info row">
        <div class="col-12">
          <div class="sns_users ">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item ">
                <a class="nav-link" data-toggle="tab" href="#home">이번달</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menuSum">누적 총합</a>
              </li>
            </ul>
          
            <!-- Tab panes -->
            <div class="tab-content chart">
              <div id="home" class="tab-pane active _best">
                <ul class="list-unstyled snsMV Mloc">
                  <span>선택한 여행지역 순</span>
                  <li>
                    <img src="images/1.jpg">
                    <div class="box_name">부산</div>
                    <div class="box_vCount">선택수: 35</div>
                    <div class="box_rvCount">좋았어요: 29</div>
                  </li>
                  <li>
                    <img src="images/2.jpg">
                    <div class="box_name">제주</div>
                    <div class="box_vCount">선택수: 27</div>
                    <div class="box_rvCount">좋았어요: 18</div>
                  </li>
                  <li><img src="images/3.jpg">
                    <div class="box_name">전주</div>
                    <div class="box_vCount">선택수: 21</div></li>
                  <li><img src="images/4.jpg">
                    <div class="box_name">인천</div>
                    <div class="box_vCount">선택수: 15</div></li>
                  <li><img src="images/6.jpg">
                    <div class="box_name">서울</div>
                    <div class="box_vCount">선택수: 12</div></li>
                  <li><img src="images/8.jpg">
                    <div class="box_name">대구</div>
                    <div class="box_vCount">선택수: 9</div>
                  </li>
                  <li><img src="images/9.jpg">
                    <div class="box_name">충북</div>
                    <div class="box_vCount">선택수: 8</div>
                  </li>
                </ul>
              </div>
              <div id="menuSum" class="tab-pane _best">
                <ul class="list-unstyled snsMV Mloc">
                  <span>선택한 여행지역 순</span>
                  <li>
                    <img src="images/1.jpg">
                    <div class="box_name">부산</div>
                    <div class="box_vCount">선택수: 230</div>
                    <div class="box_rvCount">좋았어요: 209</div>
                  </li>
                  <li>
                    <img src="images/2.jpg">
                    <div class="box_name">제주</div>
                    <div class="box_vCount">선택수: 152</div>
                    <div class="box_rvCount">좋았어요: 123</div>
                  </li>
                  <li><img src="images/3.jpg">
                    <div class="box_name">전주</div>
                    <div class="box_vCount">선택수: 123</div></li>
                  <li><img src="images/4.jpg">
                    <div class="box_name">인천</div>
                    <div class="box_vCount">선택수: 98</div></li>
                  <li><img src="images/6.jpg">
                    <div class="box_name">서울</div>
                    <div class="box_vCount">선택수: 62</div></li>
                  <li><img src="images/8.jpg">
                    <div class="box_name">대구</div>
                    <div class="box_vCount">선택수: 51</div>
                  </li>
                  <li><img src="images/9.jpg">
                    <div class="box_name">충북</div>
                    <div class="box_vCount">선택수: 48</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
</body>
<script>


    
</script>
</html>