<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://kit.fontawesome.com/c4d27926f7.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="admin_user.css">
    <title>Document</title>
</head>
<body> 
    <nav class="navbar bg-dark v_nav sticky-top">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="admin_user.html">회원관련</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin_loc.html">여행관련</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link 3</a>
          </li>
        </ul>
      </nav>
    <div class="cont">
      <div class="pageinfo">
        <span>회원 관리</span>
      </div>
      <div class="info info_users row">
        <div class="chart _pie">
          <div id="gender"></div>
        </div>
        <div class="chart _line">
          <div id="regimon"></div>
        </div>
        <div class="chart _bar">
          <div id="age"></div>
        </div>
        <div class="chart _pie">
          <div id="mtheme"></div>
        </div>
        <div class="chart _pie">
          <div id="stheme"></div>
        </div>
        <div class="chart col-12">
          <ul class="list-unstyled snsMV">
            <span>금일 가장 많이본 게시물</span>
            <li>
              <img src="images/1.jpg">
              <div class="box_name">Enma</div>
              <div class="box_title">문뜩 생각나서 아무생각없이 논산에 놀러가서 하늘만 보고있었네요~</div>
              <div class="box_vCount">조회수: 52</div>
            </li>
            <li><img src="images/2.jpg">2</li>
            <li><img src="images/3.jpg">3</li>
            <li><img src="images/4.jpg">4</li>
            <li><img src="images/6.jpg">5</li>
          </ul>
        </div>
        <div class="chart report_sns col-12">
          <ul class="list-unstyled rpt">
            <span><i class="fa-solid fa-circle-exclamation"></i>신고당한 게시글</span>
            <li>
              <img src="images/8.jpg">
              <div class="box1">Yuna</div>
              <div class="box2">정치적 성향이 강한 게시물</div>
              <button class="delete_sns"><i class="fa-solid fa-trash-can"></i></i></button>
              <button class="noport"><i class="fa-solid fa-x"></i></button>
            </li>
            <li><img src="images/1.jpg">1</li>
            <li><img src="images/2.jpg">2</li>
            <li><img src="images/3.jpg">3</li>
            <li><img src="images/7.jpg">3</li>
            <li><img src="images/3.jpg">3</li>
          </ul>
        </div>
        <div class="chart report_user">
          <ul class="list-unstyled rpt">
            <span><i class="fa-solid fa-circle-exclamation"></i>신고당한 유저</span>
            <li>
              <img src="images/3.jpg">
              <div class="box1">Hola</div>
              <div class="box2">언어폭력</div>
              <button class="delete_sns"><i class="fa-solid fa-trash-can"></i></button>
              <button class="noport"><i class="fa-solid fa-x"></i></button>
            </li>
            <li><img src="images/1.jpg">1</li>
            <li><img src="images/2.jpg">2</li>
            <li><img src="images/3.jpg">3</li>
            <li><img src="images/7.jpg">3</li>
            <li><img src="images/3.jpg">3</li>
          </ul>
        </div>
      </div>
    </div>
</body>
<script>
    Highcharts.chart('gender', {
      chart: {
        width: 400,
        height: 300,
        type: 'pie'  // 그래프 유형: 파이 그래프
      },
      title: {
        text: '이용자 성비'  // 그래프 제목
      },
      series: [{
        name: '회원 수',  // 시리즈 이름
        data: [
          ['남', 30],// ajax data 받아서 값 넣기
          ['여', 20]
        ]  // 그래프 데이터
      }]
    });

    var regidata = [
          {name:'5월', value:10},// ajax data 받아서 값 넣기
          {name:'6월', value:30},
          {name:'7월', value:20}
        ];
    Highcharts.chart('regimon', {
      chart: {
        // width: 600 ,
        height: 300,
        type: 'line',
      },
      title: {
        text: '월별 가입자 수'  // 그래프 제목
      },
      xAxis: {
        categories: regidata.map(function(d) { return d.name; })
      },
      yAxis: {
        title: ''
      },
      plotOptions: {
        line: {
          dashStyle: 'Dash', // 점선 스타일 설정
        }
      },
      series: [{
        name: '이달 가입자 수',
        data: regidata.map(function(d) {return d.value}) // 점선 그래프의 데이터
      }]
    });

    // highcharts
    var agedata = [
          {name:'10대', value:48},// ajax data 받아서 값 넣기
          {name:'20대', value:69},
          {name:'30대', value:36},
          {name:'40대', value:14},
          {name:'50대', value:7}
        ];
    var ageoptions = {
      chart: {
        // width: 400,
        height: 300,
        type: 'column'  // 그래프 유형: 파이 그래프
      },
      plotOptions: {
        column: {
          colorByPoint: true, // 각 막대를 개별적으로 색상 지정
        }
      },
      title: {
        text: '회원 연령대'  // 그래프 제목
      },
      xAxis: {
        categories: agedata.map(function(d) { return d.name; })
      },
      yAxis: {
        title: ''
      },
      series: [{
        name: '회원수',  // 시리즈 이름
        data: agedata.map(function(d){ return d.value; }) // 그래프 데이터
      }]
    };
    Highcharts.chart('age', ageoptions);

    var mthemeoption = {
      chart: {
        width: 400,
        height: 300,
        type: 'pie'  // 그래프 유형: 파이 그래프
      },
      title: {
        text: '메인테마 선호도'  // 그래프 제목
      },
      series: [{
        name: '테마',  // 시리즈 이름
        data: [
          ['선택안함', 60],// ajax data 받아서 값 넣기
          ['액티비티', 20],
          ['힐링', 30],
          ['테마파크', 50]
        ]  // 그래프 데이터
      }]
    };
    Highcharts.chart('mtheme', mthemeoption);

    var sthemeoption = {
          chart: {
            width: 400,
            height: 300,
            type: 'pie'  // 그래프 유형: 파이 그래프
          },
          title: {
            text: '소테마 선호도'  // 그래프 제목
          },
          series: [{
            name: '소테마',  // 시리즈 이름
            data: [
              ['선택안함', 40],
              ['계곡', 30],// ajax data 받아서 값 넣기
              ['강', 20]
            ]  // 그래프 데이터
          }]
        }
    Highcharts.chart('stheme', sthemeoption);



    function delete_(){
      $(this).parent().remove();
    }
    $('.delete_sns').click(delete_);
    $('.noport').click(delete_);

    $('.fa-x').hover(function(){
      $('.fa-x').addClass('fa-lg');
    },function(){
      $(this).removeClass('fa-lg');
    })
</script>
</html>