@charset "UTF-8";

.PublishButton{
    width: 100px;
    height: 100px;
    position: fixed;
    margin-left: 1800px;
    top: 200px;
    z-index: 200;
    text-align: center;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    border-radius: 100%;
    background-color:#4294F5;
    border : none;
}
	
	.view-container{
		position: fixed;
		z-index: 300;
		display: flex;
	}
	
	.container{
	   max-width: 1250px;
	}
  @media (min-width: 768px) {
        section {
          padding-top: 13.3125rem;
        }

        section {
          padding-bottom: 7.5rem;
        }
      }
	
      .card-img-top {
          max-height:500px;
          min-height:180px;
          object-fit: cover;
      }
    .profileImageSm{
    	border-radius: 100%;
   		width: 30px;
   		height:30px;
   		object-fit: cover;
	}
	.userId{
		font-weight:noraml; 
		font-size: 15px;
	}
    .snsCard {
   		 width: 100%;
  		height: 30vh;
    	object-fit: cover ;
		}
	.card-title{
		display: -webkit-box;
	 	-webkit-line-clamp: 1;
	 	-webkit-box-orient: vertical;  
	  	overflow: hidden;
	}
	.card-text{
		display: -webkit-box;
	 	-webkit-line-clamp: 2;
	 	-webkit-box-orient: vertical;  
	  	overflow: hidden;
	}
	.posting-title{
		font-weight:bold; 
	}
	.posting-content{
		font-size: 15px;
	}
	.card-img-wrap {
	  overflow: hidden;
	  position: relative;
	}
	.card:hover .card-img-top {
   	 transform: scale(1.15);
     -o-transform:scale(1.1); 
     -moz-transform:scale(1.1);
     -webkit-transform:scale(1.1);
      transition: 1s;
	}
	/*모달*/
	.viewbox{
		cursor: pointer;
		position: relative;
	}
	#myModal {
	  display:none;
	  position: fixed;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  background-color: rgba(0, 0, 0, 0.4);
	  z-index: 9999;
	  
	}
	.view_sns {
	  background-color: white;
	  width: 60vw;
	  height: 80vh;
	  /* width: 500px;
	  height:500px; */
	  z-index: 99999;
	  position: relative;
  	  overflow: hidden;
	  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	  border-radius: 10px;
	}
	.view_content{
		justify-content:center;
		align-items:center;
		color: gray;
	}
	.sns_photos {
	  position: relative;
	}
	.carousel-item img {
	  width: 100%;
	  height: 80vh;
	  object-fit: cover;
	}
	.sns_details{
	  height: 80vh;
	}
	.profileImageMd{
    	border-radius: 100%;
   		width: 50px;
   		height:50px;
   		object-fit: cover;
	}
	.viewUserId{
		font-weight:noraml; 
		font-size: 20px;
	}
	.sns_title{
		top:0;
		font-size: 25px;
	}
	.sns_location img {
		width: 100%;
		height: 15vh;
	  	object-fit: cover;
	}
	.card-title{
	 color:black;
	}
	.courseImg{
		object-fit:cover;
		width: 100%;
		height:100%
	}
	.sns-location-btn a{
		width:100px;
	}