.cont, body{
    display: flex;
}
.body{
    background-color: rgb(238, 238, 238);
}
.cont{
    background-color: white;
}
.v_nav{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-color: #000000;
    width: 200px;
    height: 100vh;
    padding: 40px 20px;
    min-width: 200px;
}
.v_nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.v_nav li{
    margin-bottom: 20px;
}
.v_nav a{
    text-decoration: none;
    font-size: 17px ;
    color: white;
}
.v_nav a:hover{
    font-weight: bold;
    font-size: 20px;
}
.info{
    display: flex;
    margin: 20px 0 0 1vw;
    width: 80vw;
    min-width: 800px;
}
.chart{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 300px;
    min-width: 400px;
    min-height: 300px;
    margin-bottom: 30px;
}
.chart>*{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.snsR{
    display: flex;    
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.snsR > span{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2em;
    color: rgb(51,51,51);
    fill: rgb(51,51,51);
    
}
.snsR > li{
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 18px;
}
.snsR > li > img{
    border-radius: 50%;
    width: 45px; 
    height: 45px
}